<label>Title for the house:</label><br>
<%= text_field_tag :'house[name]'%><br>

<label>Price per night (US dollars):</label><br>
$ <%= text_field_tag :'house[price_per_night]'%><br>

<label>City</label><br>
<%= text_field_tag :'house[city]'%><br>

<label>Maximum number of guests allowed</label><br>
<%= text_field_tag :'house[max_guests]'%><br>

<label>Are pets allowed?</label><br>
<%= text_field_tag :'house[pets]'%><br>
