<%=render partial: 'users/form', locals: {user: current_user} %>
<h1>Houses#index</h1>

<p>Find me in app/views/houses/index.html.erb</p>
<% @houses.each do |house| %>

  <p><%=house.name%> , max <%=house.max_guests%> guests, $<%=house.price_per_night%> per night, Pets allowed: <%="Yes" if house.pets_allowed%><%="No" if !house.pets_allowed%>
  <% if house.owner == current_user %>
    <%= link_to "Show/Edit #{house.name}", house_path(house)%></p>
  <% else %>
    <%= link_to "View", house_path(house)%></p>
  <% end %>
<% end %>
<% if current_user.owner == true %>
  <%= link_to "Add A New House", new_house_path %>
<% end %>
