<h1><%= @house.name %><h1>
<h2><%=@house.city%></h2>


<p>Price Per Night: $<%=@house.price_per_night%></p>
<p>Max guests: <%=@house.max_guests%></p>
<p>Cleaniless rating: <%=@house.cleanliness_rating%></p>
<p>Location rating: <%=@house.location_rating%></p>
<p>Value rating: <%=@house.value_rating%></p>
<p>Pets allowed: <%="Yes" if @house.pets_allowed%><%="No" if !@house.pets_allowed%></p>

<%=@house.reviews_count%> reviews <br><br>

<%= form_tag stays_path, method: :post  do %>
<%= hidden_field_tag(:guest_id, current_user.id) %>
<%= hidden_field_tag(:house_id, @house.id) %>
<% if @house.owner == current_user %>
  <%= link_to "Edit House", edit_house_path(@house)%>
<% elsif !current_user.owner %>
  <label>How many days are you going to stay?</label>
  <%= text_field_tag :days %><br>
  <%= submit_tag "Book This House"%>
<% end %>

<% end %>
<%= link_to "Back To All Houses", houses_path %>
