<h1>New User Sign Up</h1>

<%= form_tag users_path do %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <p>There were some errors: </p>
      <ul>
        <%@user.errors.full_messages.each do |message|%>
        <li><%= message %></li>
        <%end%>
        </ul>
        </div>
  <% end %>
  <label>Name:</label><br>
  <%= text_field_tag :'user[name]' %><br>

  <label>Password</label><br>
  <%= password_field_tag :'user[password]' %><br>
  <label>Check box if you are an owner</label>
  <%= check_box_tag :'user[owner]' %><br>
<br>

  <%= submit_tag "Create User" %>
<% end %>

<br><p>------- OR -------</p>

<p><%= link_to('Sign up with Facebook for a renter account!', '/auth/facebook') %></p>
