<h1>New User Sign Up</h1>

<%= form_tag users_path do %>
  <label>Name:</label><br>
  <%= text_field_tag :'user[name]' %><br>

  <label>What is your account balance(US$)?</label><br>
  <%= text_field_tag :'user[budget]' %><br>

  <label>How many guests are there in your party?</label><br>
  <%= text_field_tag :'user[guests]' %><br>

  <label>Check box if you are an owner</label>
  <%= check_box_tag :'user[owner]' %><br>

  <label>Password</label><br>
  <%= password_field_tag :'user[password]' %><br><br>

  <%= submit_tag "Create User" %>
<% end %>
