<p>Name: <%= @user.name %></p>
<% if @user.image %>
    <img src="<%= @user.image %>">
<% end %>
<% if @user.owner == true %>
  <p>OWNER</p>
<% else %>
  <%= render partial: 'form', locals: {user: @user} %>
  <%= link_to "Edit Profile", edit_user_path(@user) %>&nbsp&nbsp&nbsp&nbsp
  <%= link_to "See All My Reviews", user_reviews_path(@user) %>&nbsp&nbsp&nbsp&nbsp
<% end %>
<br><br><%= link_to "See All Houses", "/houses" %>&nbsp&nbsp&nbsp&nbsp
<br><br>


<% if @message %>
<%= @message %>
<% end %>
<% if @house && @message.include?("Thank you")%>
    &nbsp&nbsp<%= link_to "Write a review", new_user_review_path(@user, house_id: "#{@house}")%>
<% end %>
